@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700,300italic);
/* line 4, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/main.scss */
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* line 12, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/main.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/main.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* line 24, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/main.scss */
#main-content {
  padding-bottom: 60px;
  /* Height of the footer */
}

/* line 28, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/main.scss */
header {
  border-bottom: 1px solid #ebebeb;
}
/* line 30, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/main.scss */
header img {
  height: 60px;
}
/* line 33, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/main.scss */
header ul {
  color: #fff;
  float: right;
  list-style: outside none inline;
}
/* line 37, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/main.scss */
header ul li {
  display: inline;
  padding: 10px;
}

/* line 44, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/main.scss */
.facebook-login {
  background: #3477e5 none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 5px;
  text-align: center;
}

/* line 54, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/main.scss */
#fading {
  width: 100%;
  position: fixed;
}

/* line 59, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/main.scss */
footer {
  background: #000;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
}

/* Home styles */
/* line 69, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/main.scss */
.homebanner {
  background: url(/assets/1-b5d92d8c1104310d105c92c47f81a334780d9a9bab6086f1e91b07f63f267dbe.jpg);
  height: 350px;
}
@media only screen {
  /* line 3, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/responsive.scss */
  .row {
    width: 100%;
    margin: 0 auto;
  }
}
/* Define mobile styles */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 15, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/responsive.scss */
  .row {
    width: 90%;
    margin: 0 auto;
  }
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) {
  /* line 23, /Users/krystalcampioni/Documents/repos/stormy-wave-4497/app/assets/stylesheets/responsive.scss */
  .row {
    width: 90%;
    margin: 0 auto;
  }
}
/* min-width 1025px, large screens */
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
/* min-width 1441px, xlarge screens */
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/* min-width 1921px, xxlarge screens */
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



