%section.main
  .homebanner
    .row
      %h1 Lorem Ipsum Dolor Sit Amet
      %h3 Suspendisse commodo ante laoreet sem iaculis posuere
      %button.facebook-login
        Entrar com Facebook      
  = render "latestreviews"
  = render "topshows"
  .row  
                                    
                  
