%section.main
  .singleshow-banner
    .row
      .small-12.medium-6.columns
        %h1 Breaking Bad
        %ul.rating
          %li
            %i.fa.fa-star
          %li
            %i.fa.fa-star
          %li
            %i.fa.fa-star
          %li
            %i.fa.fa-star
          %li
            %i.fa.fa-star-o
        %h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at tincidunt nulla. Suspendisse in aliquet lacus. Mauris ut purus tincidunt massa bibendum
    = render "welcome/latestreviews"
  .row  